<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About This Site</a></li>
	        		<li><a href="/contact">Contact Me</a></li>
					<li><a href="/graduatework">Graduate Work</a></li>
	        		
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:potomac.64@gmail.com">Email Me</a></li>
	        		<li><a href="https://potomac64.github.io/">https://potomac64.github.io/</a></li>
				</ul>
			</footer>
		</body>
	</html>
